doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(
      rel='stylesheet',
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css'
    )

  body
    .container.listing-reg
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js',
      integrity='sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=',
      crossorigin='anonymous'
    )
    script(type='text/javascript', src='/js/bootstrap.bundle.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  block content
